[Unit]
Description="Automatically set TDP at different power levels."

[Service]
Type=simple
StandardOutput=journal
ExecStart=/path/to/power_adjust.sh

[Install]
WantedBy=default.target
